.page-wrapper{
    max-width: 100vw;
}
body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.head-background{
    background-color: #1F2937;
    height: 650px;
    display: flex;
    justify-content: center;
}
.content-container{
    color: white;
    height: 100%;
    height: 650px;
    width: 1300px;
    max-width: 1300px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
}
.header{
    display: flex;
    flex-direction: column;
}
nav {
    display: flex;
    justify-content: space-between;
    height: 80px;
}
.logo{
    display: flex;
    align-items: center;

}
.logo a{
    font-weight: 800;
    font-style: italic;
    font-size: 35px;
}
.header-links{
    display: flex;
    width: 300px;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}
h1{
    margin: 0;
    padding: 0;
    font-size: 50px;
}
p {
    font-size: 30px;
}
li{
    list-style-type: none;
}
a {
    text-decoration: none;
    color: white;
}
.head-container{
    display: flex;
    flex-direction: column;
}
.head-content{
    margin: auto;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    gap: 50px;
}
.right, .left{
    max-width: 600px;
}
.image {
    max-width: 100%;
    height: auto;
}

button{
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border: none;
    font-size: 30px;
    background-color: #3882F6;
    color: white;
}
button:hover{
    background-color: #285db3;
}
.broke-bg{
    display: flex;
    justify-content: center;
}
.broke-container{
    color: black;
    height: 650px;
    display: flex;
    flex-direction: column;
}
.broke-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}
.broke-content{
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
.box-and-text{
    width: 250px;
}
h2 {
    color: #1F2937;
    font-size: 36px;
    font-weight: 800
}
.box{
    box-sizing: border-box;
    width: 250px;
    height: 250px;
    background-color: gray;
    margin: 0;
    border-radius: 25px;
    border: #285db3 solid 5px;
}
.text{
    text-align: center;
    margin: 0;
    margin-top: 20px;
}
.quote-bg{
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quote-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 450px;
}
.quote-text{
    font-size: 50px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
    margin-left: 70px;
}
.quote-author{
    font-size: 40px;
    font-weight: 600;
    color: #1F2937;
    width: 100%;
    text-align: end;
}
.bg .sign-up, .sign-up .content-container{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 450px;
}
.sign-up{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sign-up-container{
    width: 1300px;
    height: 250px;
    background-color: #3882F6;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.left-text{
    width: 800px;
}
.heading-text{
    font-size: 40px;
    font-weight: 600;
}
.subtext{
    font-size: 30px;
}
.sign-up button{
    border: white 5px solid;
    width: 150px;
    height: 50px;
    font-size: 30px;
}