body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.head-background{
    background-color: #1F2937;
    height: 650px;
    display: flex;
    justify-content: center;
}
.content-container{
    color: white;
    height: 100%;
    max-width: 1200px;
    flex-shrink: 0;
}
.header{
    display: flex;
    flex-direction: column;
}
nav {
    display: flex;
    justify-content: space-between;
    height: 80px;
}
.logo{
    display: flex;
    align-items: center;
}
.header-links{
    display: flex;
    width: 300px;
    margin: 0;
    padding: 0;
    justify-content: space-evenly;
    align-items: center;
}
h1{
    margin: 0;
    padding: 0;
}
li{
    list-style-type: none;
}
a {
    text-decoration: none;
    color: white;
}
.head-container{
    display: flex;
    flex-direction: column;
}
.head-content{
    margin: auto;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 30px;
    gap: 30px;
}
.right, .left{
    max-width: 500px;
}
.image {
    max-width: 100%;
    height: auto;
}